@charset "utf-8";

body {
	color: #eee;
	background-color: #000;
	font-family: "DejaVuSansMono", "DejaVu Sans Mono", monospace;
	font-size: 12pt;
}

header h1 {
	color: rgb(12,27,178);
	font-size: 15pt;
	margin: 0px;
	padding: 0px;
}

h2 {
	font-size: 13pt;
	color: rgb(35,54,255);
	margin: 5px 5px 5px 0px;
}

h3 {
	font-size: 12pt;
	color: rgb(178,140,0);
	margin: 0px 15px 3px 0px;
}

p {
	margin: 3px 0px;
	padding: 0px;
}

.centerer { text-align: center; }
.left { float: left; }
.right { float: right; }
.clear-left { clear: left; margin: 0px auto 5px auto; }
.clear-right { clear: right; margin: 0px auto 5px auto; }
.clear { clear: both; }
.spacer { width: 100%; }

#wrap {
	width: 1000px;
	margin: 5px auto;
	padding: 0px;
	display: none;
}

.infobox {
	color: gray;
	background-color: rgba(50, 50, 60, 0.6);
	width: 210px;
	padding: 10px;
	font-size: 9pt;
	margin: 0px auto 5px auto;
	border-radius: 10px;
}

.infobox ul {
	list-style-position: inside;
	list-style: none;
	margin: 3px 5px 3px 0px;
	padding-left: 0px;
}

.submenu li { margin-left: 10px; }

#messagesbox {
	text-align: left;
	font-size: 10pt;
	width: 980px;
}

#game {
	font-size: 14px;
	background-color: #000;
	margin: 0px auto 10px auto;
	border: 1px solid #222;
}

#debug {
	background-color: #444;
	border-radius: 5px;
	padding: 5px 5px 5px 5px;
	width: 100px;
	overflow: hidden;
	white-space: nowrap;
}

.help {
	display: none;
	color: #660;
	font-size: 85%;
	margin-left: 8px;
}

#targetlist { display: none; }
#beacon-menu { display: none; }
#energyconverter-menu { display: none; }
#massfabricator-menu { display: none; }

.online, .good { color: #0a0; }
.offline, .bad { color: #a00; }
.warn { color: #dd0; }

.itemstring { word-spacing: -0.6em; }

/* Cargo colors */
.missile { color: #842; }
.energy { color: #70d; }
.navbeacon { color: #a0d; }
.metals { color: #779; }
.hydrogen { color: #07f; }
.radioactives { color: #0f0; }
.antimatter { color: #fff; }
.empty { color: #666; }
.credits { color: #bb0; }

footer {
	color: #222;
	font-size: 50%;
	text-align: center;
	margin-top: 100px;
}
